p {
    font-size: 25px;
    color: #0094ff;
    font-family: Consolas;
}

p::first-line{
   
    padding-bottom: 100px;
    line-height: 70px;
}

@font-face {
    font-family: 'Edwardian';
    src: url('../fonts/Edwardian.ttf') format('truetype');
}

p:first-letter{
    font-family :Edwardian;
    font-size: 80px
}
